.logo {
    height: 250px;
    width: 50%;
  }


  /* Media querry for small screens */

@media screen and (max-width: 768px) {
  .logo{
   height: 100px;
   width: 100px;
   align-self: flex-start;
  }
}

  
  